<div
  class="hero-container w-full h-[100vh] grid place-items-center"
  #HeroContainer
>
  <div class="plaques-container w-full h-[100vh] absolute top-0 left-0">
    <div class="plaque"></div>
    <div class="plaque"></div>
    <div class="plaque"></div>
    <div class="plaque"></div>
    <div class="plaque"></div>
  </div>
  <div
    class="hero-text text-[280px] font-serif font-extrabold text-center leading-none"
  >
    I'm Libby,
  </div>
  <div class="scroll-animation absolute bottom-5 left-[50%]">
    <img src="/assets/scrolldown.gif" alt="Scroll Down Indicator" />
  </div>
</div>
