// Plaques
.plaques-container {
  z-index: -2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  &::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
}

.plaques-container .plaque {
  height: 320px;
  width: 240px;
  position: absolute;
  border-radius: 10px;
  background-size: cover;
  background-position: center center;
  opacity: 0.2;

  &:nth-child(1) {
    background-image: url("https://jopecuro.com/assets/img/studio.jpg");
    left: 5%;
    top: 25%;
  }

  &:nth-child(2) {
    background-image: url("https://jopecuro.com/assets/img/porto.jpg");
    left: 25%;
    top: 53%;
  }

  &:nth-child(3) {
    background-image: url("/assets/li_1.png");
    left: 40%;
    top: 20%;
  }

  &:nth-child(4) {
    background-image: url("https://jopecuro.com/assets/img/organge.jpg");
    left: 58%;
    top: 40%;
  }

  &:nth-child(5) {
    background-image: url("https://jopecuro.com/assets/img/bookman.jpg");
    left: 74%;
    top: 25%;
  }
}

.scroll-animation {
  transform: translateX(-50%);
  width: 136px;
  filter: grayscale(1) invert(1);
  border: 2px solid black;
  border-radius: 100px;
}
