<div class="page-container">
  <app-header></app-header>
  <app-hero class="w-full block fixed top-0 left-0 z-0"></app-hero>

  <!-- Scroll progress -->
  <app-scroll-progress></app-scroll-progress>

  <section
    class="hero-filler w-full h-[100vh] bg-red"
    data-section-name="Welcome"
  ></section>
  <section
    class="w-full h-[180vh] grid place-items-center"
    data-section-name="About"
    id="main-content"
  >
    <div class="leading-header">
      <span>A <u>digital creative</u></span
      ><br />
      <span>& web dev.</span><br />
    </div>
  </section>

  <section
    class="h-[100vh] w-[100vw] bg-white relative"
    data-section-name="Technical Skills"
    #FliptextStory
  >
    <section
      class="h-[100vh] w-full bg-black flex items-center justify-center"
      style="border-top: 10px solid white;"
      id="fliptext-story"
    >
      <div
        class="project-showcase flex-[0.5] h-[100vh]"
        style="
          background-image: url('/assets/li_1.png');
          background-size: cover;
        "
      ></div>
      <div class="flex-[0.5] text-story-container">
        <div class="fliptext fliptext-1">
          <div class="fliptext-header">
            <span>Technical Skills</span>
          </div>
          <div class="text-base text-justify fliptext-story tabulated">
            <table>
              <thead>
                <tr>
                  <td>Skills</td>
                  <td>Tools</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Frontend</td>
                  <td>
                    <img src="/assets/HTML.svg" alt="HTML" />
                    <img src="/assets/CSS.svg" alt="CSS" />
                    <img src="/assets/JavaScript.svg" alt="JavaScript" />
                    <img src="/assets/Angular-Dark.svg" alt="Angular" />
                    <img src="/assets/React-Dark.svg" alt="React" />
                    <img src="/assets/VueJS-Dark.svg" alt="VueJS" />
                    <img src="/assets/TypeScript.svg" alt="TypeScript" />
                    <img src="/assets/Babel.svg" alt="Babel" />
                    <img src="/assets/D3-Dark.svg" alt="Babel" />
                    <img src="/assets/TailwindCSS-Dark.svg" alt="Babel" />
                  </td>
                </tr>

                <tr>
                  <td>Backend</td>
                  <td>
                    <img src="/assets/NodeJS-Dark.svg" alt="NodeJS" />
                    <img src="/assets/DENO-Dark.svg" alt="NodeJS" />
                    <img src="/assets/ExpressJS-Dark.svg" alt="ExpressJS" />
                    <img src="/assets/Python-Dark.svg" alt="Python" />
                    <img src="/assets/Flask-Dark.svg" alt="Flask" />
                    <img src="/assets/Django.svg" alt="Cloudflare" />
                    <img src="/assets/MongoDB.svg" alt="Cloudflare" />
                  </td>
                </tr>

                <tr>
                  <td>DevOps</td>
                  <td>
                    <img src="/assets/Bash-Dark.svg" alt="Bash" />
                    <img src="/assets/Cloudflare-Dark.svg" alt="Cloudflare" />
                    <img src="/assets/Heroku.svg" alt="Heroku" />
                    <img src="/assets/Git.svg" alt="Git" />
                    <img src="/assets/AWS-Dark.svg" alt="AWS" />
                    <img src="/assets/Linux-Dark.svg" alt="Linux" />
                    <img src="/assets/Docker.svg" alt="Docker" />
                    <img src="/assets/Selenium.svg" alt="Selenium" />
                    <img src="/assets/Kubernetes.svg" alt="Kubernetes" />
                  </td>
                </tr>

                <tr>
                  <td>Design</td>
                  <td>
                    <img src="/assets/Figma-Dark.svg" alt="Figma" />
                    <img src="/assets/Illustrator.svg" alt="Illustrator" />
                  </td>
                </tr>
              </tbody>
            </table>

            <br />
            <a href="/assets/li-resume.pdf" target="_blank"
              >Download full resume</a
            >
          </div>
        </div>
      </div>
    </section>
  </section>

  <section
    class="h-[100vh] w-[100vw] bg-white relative"
    style="border-top: 10px solid white;"
    data-section-name="HETCHFUND"
    #Project1
  >
    <div class="project-showcase-container">
      <div class="project-image-container">
        <div class="project-visual"
        style="
          background-image: url('/assets/hetchfund-project.png');
          background-size: contain;
        ">
          
        </div>
      </div>
      <div class="project-description">
        <div>
          <div class="description-title"><img src="/assets/hetchfund-logo.svg" alt="Hetchfund Logo" width="350px"></div>
          <div class="project-summary">
            <ul>
              <li class="text">I built a <i><b>full-stack</b></i> crowdfunding platform that empowers startups to raise capital
                through online donations. The platform features secure payment processing via Yoco APIs and a structured
                social discovery system, allowing users to browse, share, and support campaigns.
                I developed both the frontend and backend, handling application logic, data management,
                and user-facing interfaces. Additionally, I implemented a <i><b>KYC (Know-Your-Customer)</b></i> workflow
                using SmileID to ensure compliance and secure onboarding.
                The platform was built with a modern tech stack, including <i><b>Python, REST APIs, Angular, MongoDB, HTML, and CSS.</b></i></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section
    class="h-[100vh] w-[100vw] bg-white relative"
    style="border-top: 10px solid white;"
    data-section-name="NEXTIFY"
    #Project1
  >
    <div class="project-showcase-container">
      <div class="project-image-container">
        <div class="project-visual"
        style="
          background-image: url('/assets/nextify-1.png');
          background-size: contain;
        ">
        </div>
      </div>
      <div class="project-description">
        <div>
          <div class="description-title"><img src="/assets/nextify-2.svg" alt="Nextify Logo" width="350px"></div>
          <div class="project-summary">
            <ul>
              <li class="text">Designed and developed a platform enabling local restaurants to scale toward franchise-level 
                operations while supporting online ordering. Built a <i><b>full-stack</b></i> restaurant management system with features 
                for order tracking, menu management, and operational administration. Developed backend <i><b>REST</b></i> services using 
                <i><b>Node.js</b></i> and integrated a <i><b>MongoDB</b></i> database for structured data storage. Implemented a responsive frontend 
                using <i><b>Angular, HTML, and CSS</b></i> to allow efficient management of restaurant operations, and created a reproducible 
                mobile app template tailored for restaurant partners. 
                Tech stack included <i><b>Node.js, REST APIs, Angular, MongoDB, HTML, and CSS.</b></i></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section
    class="h-[100vh] w-[100vw] bg-white relative"
    style="border-top: 10px solid white;"
    data-section-name="GOH"
    #Project1>

    <div class="project-showcase-container">
      <div class="project-image-container">
        <div class="project-visual"
        style="
          background-image: url('/assets/goh.png');
          background-size: contain;
        ">
        </div>
      </div>

      <div class="project-description">
        <div>
          <div class="description-title"><img src="/assets/goh-logo.svg" alt="GOH Logo" width="350px"></div>
          <div class="project-summary">
            <ul>
              <li class="text">A digital clinic management and patient services application designed to streamline healthcare interactions 
                between patients and medical staff. The platform enables patients to book and manage appointments, upload prescriptions and 
                medical documents, request medication refills, and arrange home delivery of prescribed medication. The system includes secure 
                patient profiles, appointment scheduling, prescription management, and notification features to improve communication and 
                operational efficiency. By centralizing administrative and patient service functions, the application helps clinics reduce 
                manual processes, improve record accessibility, and enhance the overall patient experience.
                Tech stack included <i><b>Node.js, REST APIs, Angular, MongoDB, HTML, and CSS.</b></i></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section
    class="h-[100vh] w-[100vw] bg-white relative"
    style="border-top: 10px solid white;"
    data-section-name="MY BRANDS"
    #Project1>

    <div class="project-showcase-container">
      <div class="project-image-container">
        <div class="project-visual"
        style="
          background-image: url('/assets/Brands.png');
          background-size: contain;
        ">
        </div>
      </div>
      
      <div class="project-description">
        <div>
          <div class="description-title"><h1>Creativity meets Coding</h1></div>
          <div class="project-summary">
            <ul>
              <li class="text">A digital clinic management and patient services application designed to streamline healthcare interactions 
                between patients and medical staff. The platform enables patients to book and manage appointments, upload prescriptions and 
                medical documents, request medication refills, and arrange home delivery of prescribed medication. The system includes secure 
                patient profiles, appointment scheduling, prescription management, and notification features to improve communication and 
                operational efficiency. By centralizing administrative and patient service functions, the application helps clinics reduce 
                manual processes, improve record accessibility, and enhance the overall patient experience.
                Tech stack included <i><b>Node.js, REST APIs, Angular, MongoDB, HTML, and CSS.</b></i></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
