// TailwindCSS setup
@import "./tailwind.css";

body::after {
  content: "";
  display: block;
  background-image: url("/assets/background.jpg");
  background-size: contain;
  background-repeat: repeat;
  mix-blend-mode: hue;
  opacity: 0.08;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  pointer-events: none;
  mix-blend-mode: difference;
}

body,
html {
  overflow-x: hidden !important;
  background: black;
  color: white;
}

body::-webkit-scrollbar {
  display: none;
}

* {
  @apply font-medium;

  --theme-color: orangered;
  --dark-color: black;
  --white-color: white;
  --border: 3px solid black;

  // text-transform: lowercase;

  animation-name: flying_cursor;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-play-state: running;
}

// LINKS
a {
  display: block;
  margin-top: 10px;
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;

  &:hover {
    color: orangered;
    text-underline-offset: 10px;
  }
}

// BUTTON
.button {
  display: flex;
  align-items: center;
  border: var(--border);
  background: var(--dark-color);
  color: var(--white-color);
  font-size: 48px;
  font-weight: bold;
  width: fit-content;
  padding: 0 20px;
  border-radius: 30px;
  gap: 20px;
  opacity: 0.85;

  &,
  svg {
    transition: opacity 300ms ease, background 300ms ease,
      scale 300ms ease-in-out;
  }

  svg {
    --size: 50px;
    height: var(--size);
    fill: var(--white-color);
  }

  &:hover {
    opacity: 1;
    scale: 1.05;
  }
}

// Custom scroll markers
.scroll-marker {
  display: block;
  height: 10px;
  width: 100%;
  border-top: 1px dashed var(--theme-color);
  position: absolute;
  z-index: 1000;
  opacity: 0;

  span {
    background: var(--theme-color);
  }
}

// HEADERS
.leading-header {
  @apply text-[60px] sm:text-[100px] lg:text-[280px] md:text-[180px] font-serif text-center leading-none;
}

/***** KEYFRAMES ******/
@keyframes flying_cursor {
  from {
    cursor: url("/assets/cursor-frame-1.png"), auto;
  }
  to {
    cursor: url("/assets/cursor-frame-2.png"), auto;
  }
}
